<h1>Add A Hero</h1>
<p>Add yourself to the annals of Eorzea's finest!</p>
<form (submit)="addHero()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="hero.name"/>
  </div>
  <div class="form-group">
    <label for="job">Job</label>
    <input type="text" class="form-control" name="job" id="job" [(ngModel)]="hero.job"/>
    <small>Protip: This doesn't have to be an in-game job...</small>
  </div>
  <div class="form-group">
    <label for="home">Home</label>
    <input type="text" class="form-control" name="home" id="home" [(ngModel)]="hero.home"/>
  </div>
  <div class="form-group">
    <label for="info">Miscellaneous Info About You</label>
    <textarea class="form-control" id="info" name="info" [(ngModel)]="hero.info"></textarea>
    <small>Share information about your free company, or anything else!</small>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
