<h1>Heroes of Eorzea</h1>
<p>Here are a list of heroes in Eorzea. <a routerLink="new-hero">Feel free to add yourself!</a></p>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Job</th>
      <th>Birthplace</th>
      <th>Misc. Info</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroService.heroes">
      <td>{{hero.id}}</td>
      <td>{{hero.name}}</td>
      <td>{{hero.job}}</td>
      <td>{{hero.home}}</td>
      <td>{{hero.info}}</td>
    </tr>
  </tbody>
</table>
